  body{
        background: #f8f8f8;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }

div {
    background: rgba(197,14,229,0.5);
    padding: 0px;
    border: 1px;
    background-clip: content-box;
   
}

p{
    color: rgba(0,255,255,0.5);
}
.menu{
        font-family: sans-serif;
        text-align: left;
        border-collapse: separate;
        border-spacing: 5px;
        background: #ece9e0;
        color: blueviolet;
        border: 16px;
        border-radius: 20px; 
    
} 
.menu1{
    
}